﻿@model CPSAPP.UI.Models.CustomerOrderModel;

@{
    ViewData["Title"] = "Home Page";
    var error = TempData["Error"] as string;
}

<style>
    .grid-divider {
        margin-top: 15px;
    }

    .cardlimit {
        overflow: auto;
        height: 500px;
    }

    .alignPrint {
        padding-right: 0px;
        padding-bottom: 15px;
    }
</style>

<div class="text-center">

    @if (!string.IsNullOrEmpty(error))
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error: @error</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="col-md-6 offset-md-6">
            <div class="form-row">
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.UploadFile, new { type = "file", @class = "form-control-file" })
                </div>

                <div class="col-md-6">
                    <button id="upload-button" class="btn btn-secondary form-control" type="submit">Upload Record</button>
                </div>
            </div>
        </div>

    }


    <div class="grid-divider">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Customer Order Details
                    </div>
                    <div class="card-body cardlimit">
                        @if (Model.IsFileValide)
                        {

                            <div style="" class="col-md-2 offset-md-10 alignPrint">
                                <button id="search-button" class="btn btn-secondary form-control" 
                                onclick=PrintOrder("customerOrder");>Print Record</button>
                            </div>
                            <table id="customerOrder" border="1" cellpadding="2" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>CustomerName</th>
                                        <th>CustomerEmail</th>
                                        <th>Quantity</th>
                                        <th>Size</th>
                                        <th>DateRequired</th>
                                        <th>Note</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int count = 1;
                                        foreach (var order in Model.CustomerOrder)
                                        {
                                            <tr>
                                                <td>@count</td>
                                                <td>@order.CustomerName</td>
                                                <td>@order.CustomerEmail </td>
                                                <td>@order.Quantity</td>
                                                <td>@order.Size</td>
                                                <td>@order.DateRequired</td>
                                                <td>@order.Notes</td>
                                            </tr>

                                            count++;
                                        }
                                    }
                                </tbody>
                            </table>
                        }

                        @if (!Model.IsFileValide)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>OrderDate</th>
                                        <th>Error</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int count = 1;
                                        foreach (var order in Model.CustomerOrder.Where(x => x.errorList.Count > 0))
                                        {
                                            <tr>
                                                <td>@count</td>
                                                <td>
                                                    <span>Customer Name: @order.CustomerName </span><br />
                                                    <span>Customer Email: @order.CustomerEmail </span><br />
                                                    <span>Date of Order: @order.DateRequired </span><br />
                                                    <span>Size: @order.Size </span><br />
                                                    <span>Quantity: @order.Quantity </span><br />
                                                </td>
                                                <td>
                                                    @{
                                                        foreach (var msg in order.errorList)
                                                        {
                                                            <span> @msg.ToString()</span>

                                                        }
                                                    }
                                                </td>
                                            </tr>
                                            count++;
                                        }
                                    }
                                </tbody>
                            </table>
                        }

                        </>
                    </div>
                </div>
            </div>
        </div>

    </div>
